/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Georgia, Serif;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
}

/* ===================
    ALL: Orange Theme  !!!Edited to my own color
   =================== */

.header-container,
#header-container {
    border-bottom: 5px solid #8064A2;
}

/*.footer-container,
#footer-container,
.main aside {
    border-top: 5px solid #8064A2;
}
*/

.header-container,
#header-container,
.footer-container,
#footer-container,
.main aside {
    font-family: CenturyGothic, AppleGothic, Helvetica;
    background: white;

}

.title {
    color: #8064A2;

}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 0px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #8064A2;
    background: white;
}

nav a:hover{
    /*color: #A9D77D;*/
    color: #bbbbbb;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #8064A2;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: #8064A2;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** General styles *****/

body{
    font: 16px/26px CenturyGothic, Serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}

img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

a {
    text-decoration:none;
    color: #bbbbbb;
}

a:hover{
    color: #8064A2;
}

table tr td {
    padding-right:25px;
}

table tr th {
    text-align:left;
}

/***** Class & ID specific styles *****/

/* For all pages: */
.title {
    font-size: 40px;
    line-height:48px;
}

.title a {
    color:#8064A2;
}

nav a {
    font-weight:normal;
    line-height:48px;
}

nav a.active {
    font-weight:bold;
}

.home-main{
    color: white;
    text-align: center;
    background: #8064A2;
    margin-top: 0;
    margin-bottom: 0;
    padding:20px;
}

.wrapper h2 {
    text-align:center;
    font-size:30px;
    line-height:36px;
}


.main-container,
#main-container {
    min-height:200px;
}

#footer-container {
    color:#8064A2;
}

#footer-container img {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/* About Me Page: */
#lenaimg-section {
    float:left;
    margin-right:30px;

}

#lenaimg-section img {
    width:265px;
    height:265px;
}

#wordcloud {
    min-width:265px;
    width:70%;
    margin-top:10px;
}

.header-logo{
	width:5%;
}

.center {
    text-align:center;
    display:block;
    margin-right: auto;
    margin-left: auto;
}

/**** PORTFOLIO PAGES ****/

/* Main page with thumbnails*/
#portfolio-icon-wrapper .mix{
    opacity: 0;
    display: none;
}
/*
.portfolio-image {
    margin-bottom: 14px;
    margin-right: 10px;
    width: 250px;
    height: 250px;

}*/
.portfolio-image {
    margin-right:2%;
    margin-bottom: 2%;

    width: 30%;
    height:30%;

}

.portfolio-image:hover {
    /*opacity: .5;
    filter:alpha(opacity=50);*/
}

a.filter {
    cursor:pointer;
}

.button {
	-webkit-border-radius:6px;
	-moz-border-radius-:6px;
	border-radius:6px;

	border:1px solid #dcdcdc;
	display:inline-block;
	
	padding: 7px 15px;
	margin:0px 5px 7px 0px;
	
	text-decoration:none;
	text-align:center;
}

.button:hover {
    background-color:#f9f9f9;
}

.button.active {
    color:#8064a2;
}

/* Young Traveler */
.yt-persona {
    width:40%;
    max-width: 400px;
    margin-right: 20px;
    margin-bottom:20px;
}

.yt-moodboard {
    width: 75%;
    max-width:600px;
}
.yt-content {
    width:65%;
    max-width:334px;
    margin-right:30px;
    margin-bottom:10px;
}

/* Dayshare */
.dayshare-web {
    width:75%;
    margin-right:30px;
    margin-bottom:30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dayshare-app {
    width:28%;
    margin-right:4%;
    margin-bottom:4%;
}

/* DJ Recess */
.djrecess-content {
    width: 65%;
    margin-bottom: 20px;
}

/* Elephant Animation */
.elephant-content {
    width: 50%;
    margin-bottom: 20px;

}

/* KHRI pages */
.kresge-mockup {
    width:41%;
    margin-bottom: 20px;
    margin-right:4%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 25%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav a img {
        margin: 0 1.7%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    

    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 912px; /* 1140px - 20% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}