/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-image:url("../img/backgroundtexture.png");
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.page-divider {
    margin-top:40px;
    border-bottom: 2px dotted #000000;
}

.page-divider2 {
    margin-bottom:40px;
    border-top: 2px dotted #000000;
}

#home-welcome {
    font-weight:normal;
    text-align:center;
    text-transform:none;
}
#home-welcome strong{
    color: purple;
}

@font-face
{
font-family: Questrial;
src: url('../font/Questrial-Regular.ttf');
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Questrial, AppleGothic, Helvetica;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ===================
    ALL: Orange Theme  !!!Edited to my own color
   =================== */

.header-container,
#header-container,
.footer-container,
#footer-container,
.main aside {
    font-family: Questrial, AppleGothic, Helvetica Neue;
}

#header-container .wrapper {
    border-bottom: 2px dotted black;
}

/* ==============
    MOBILE: Menu
   ============== */

.title {
    text-align:center;
}

.filter-buttons {
    text-align:center;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align:center;
}

nav a {
    display: block;
    margin-bottom: 0px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color:black;
}

nav a:hover{
    color: #9c7ac5;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    margin-bottom:5%;
    text-align: left;
}

.footer-container footer {
    padding: 20px 0;
}

.portfolio-image {
    margin-right:2%;
    margin-bottom: 5%;

    width: 90%;
    height: 90%;
}

/*pictures!*/
.third {
    width:60%;
    margin-right:2%;
    margin-bottom:2%;
}
.eighty {
    width: 80%;
    margin-top:2%;
    margin-bottom:2%;    
}
.half {
    width: 80%;
    margin-bottom:2%;
}
.full {
    width: 100%;
    margin-bottom:2%;  
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** General styles *****/

body{
    font: 16px/26px Questrial, AppleGothic, Helvetica;
}

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}

img {

}

a {
    /*text-decoration:none;*/
    color: #000;
}

a:hover{
    color: #9c7ac5;
}

table tr td {
    padding-right:25px;
}

table tr th {
    text-align:left;
}

/***** Class & ID specific styles *****/

/* For all pages: */
.title {
    font-size: 40px;
    line-height:48px;
}

.title a {
    color:black;
    text-decoration:none;
}

nav a {
    font-weight:normal;
    line-height:48px;
}

nav a.active {
    color: #9c7ac5;
}

#header-container,
.header-container {
    margin-top:30px;
    margin-bottom:30px;
}

.home-main{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding:20px;
}

.wrapper h2 {

    text-align:center;
    font-size:30px;
    line-height:36px;
    margin-left:-10px;
    margin-top:-10px;
}

.main-container,
#main-container {
    min-height:200px;
}

#footer-container {
    /*color:#8064A2;*/
}

#footer-container img {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/* About Me Page: */
#lenaimg-section {
    float:left;
    margin-right:30px;
}

#lenaimg-section img {
    max-width:265px;
}

#wordcloud {
    min-width:265px;
    width:70%;
    margin-top:10px;
}

.header-logo{
	width:5%;
}

.center {
    text-align:center;
    display:block;
    margin-right: auto;
    margin-left: auto;
}

/**** PORTFOLIO PAGES ****/

#portfolio-icon-wrapper img{
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
}

.portfolio-image,
#portfolio-image {
    -webkit-box-shadow: 0 1px 3px #c3c3c3;
    -moz-box-shadow: 0 1px 3px #c3c3c3;
    box-shadow: 0 1px 3px #c3c3c3;  
	overflow:hidden;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.portfolio-image:hover{
	-webkit-box-shadow: 0 0 15px #777777, 0 0 15px #777777;
    -moz-box-shadow: 0 0 15px #777777,  0 0 15px #777777;
    box-shadow: 0 0 15px #777777,  0 0 15px #777777; 
}

a.filter {
    cursor:pointer;
}

.button {
	-webkit-border-radius:6px;
	-moz-border-radius-:6px;
	border-radius:6px;

	border:1px solid #dcdcdc;
	display:inline-block;
	
	padding: 7px 15px;
	margin:0px 5px 7px 0px;
	
	text-decoration:none;
	text-align:center;
}

.button:hover {
    background-color:#f9f9f9;
}

.button.active {
    color:#8064a2;
}

.logos {
    width: 18%;
}

h3 {
    font-size: 16px/26px;
    font-weight:bold;
    text-transform:uppercase;
}

strong {
    font-weight: normal;
    text-transform:uppercase;
}

.slidesjs-previous,
.slidesjs-next{
    text-decoration:none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 622px) {
    #lenaimg-section {
        float:none;
        text-align:center;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 25%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav a img {
        margin: 0 1.7%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .portfolio-image {
        margin-right:2%;
        margin-bottom: 2%;

        width: 47%;
        height: 47%;
    }
    
    .third {
        width: 40%;
        margin-top:2%;
        margin-bottom:2%;
    }

    .half {
        width: 60%;
        margin-top:2%;
        margin-bottom:2%;
    }
    
    .main aside {
        text-align: center;
    }
    

    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}



@media only screen and (min-width: 870px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: right;
        width: 75%;
    }

    .main aside {
        float: left;
        width: 20%;
    }
    
    .portfolio-image {
        margin-right:2%;
        margin-bottom: 2%;

        width: 30%;
        height: 31%;
    }
    
    /*pictures!*/
    .third {
        width:28%;
        margin-right:2%;
        margin-bottom:2%;
    }
    .eighty {
        width: 80%;
        margin-top:2%;
        margin-bottom:2%;    
    }
    .half {
        width: 40%;
        margin-top:2%;
        margin-bottom:2%;
    }
    .main aside {
        text-align: left;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}